# Requisitos básicos
# A maioria das dependências são bibliotecas padrão do Python
# Apenas listamos pacotes adicionais que possam ser necessários

# Interface gráfica (geralmente inclusa com o Python, mas listamos para documentação)
tkinter>=8.6

# Processamento de vídeo (opcional, para extração de duração)
# Se você quiser habilitar a extração de duração de vídeo, descomente a linha abaixo
# python-ffmpeg-video-streaming

# Dependências para download do Telegram
pyrogram>=2.0.0
tgcrypto>=1.2.0  # Acelerador de criptografia para o Pyrogram

# Outras dependências opcionais
Pillow>=9.0.0  # Para processamento de imagens
python-dotenv>=0.19.0  # Para carregar variáveis de ambiente de arquivo .env

# Novas dependências adicionadas
tkcalendar>=1.6.1
pillow>=9.0.0
nest_asyncio>=1.5.5
ttkthemes>=3.2.2